# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

In [2]:
try:
    data = pd.read_csv('/datasets/data.csv')
except FileNotFoundError:
    data = pd.read_csv('/Users/macbookpro/Downloads/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) 
             & (data['total_income'].isna()), 
             'total_income'] = \
    data.loc[(data['income_type'] == t), 
             'total_income'].median()
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = abs(data['days_employed'])
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
days_median = data.groupby('income_type')['days_employed'].median()
days_median

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data.children != -1) & (data.children <= 5)]
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) &
             (data['days_employed'].isna()), 
             'days_employed'] = \
    data.loc[(data['income_type'] == t), 
             'days_employed'].median()
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype('int')
data.dtypes

children              int64
days_employed       float64
dob_years             int64
education            object
education_id          int64
family_status        object
family_status_id      int64
gender               object
income_type          object
debt                  int64
total_income          int64
purpose              object
dtype: object

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    if income <= 30000:
        return 'E'
    if income <= 50000:
        return 'D'
    if income <= 200000:
        return 'C'
    if income <= 1000000:
        return 'B'
    return 'A'

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образ' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Вторая часть проекта

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

На основе данных из data собираем новый датафрейм для наглядности. Он состоит из четырех столбцов: количество детей, количество имеющихся задолженностей у сотрудников и количество детей. В финальном столбце выясним соотношение количества детей к количеству задолженностей на группы сотрудников, собранные по количеству детей.

In [23]:
children_debt = pd.DataFrame()
children_debt['children_count'] = data.groupby('children')['debt'].count()
children_debt['children_sum'] = data.groupby('children')['debt'].sum()
children_debt['result_children'] = children_debt['children_sum'] / children_debt['children_count']
pd.options.display.float_format ='{:,.4f}'.format
children_debt.sort_values('result_children', ascending = False)
children_debt

          children_count  children_sum  result_children
children
0                  14091          1063           0.0754
1                   4808           444           0.0923
2                   2052           194           0.0945
3                    330            27           0.0818
4                     41             4           0.0976
5                      9             0           0.0000

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [24]:
status_debt = pd.DataFrame()
status_debt['status_count'] = data.groupby('family_status')['debt'].count()
status_debt['status_sum'] = data.groupby('family_status')['debt'].sum()
status_debt['result_status'] = status_debt['status_sum'] / status_debt['status_count']
pd.options.display.float_format ='{:,.4f}'.format
status_debt.sort_values('result_status', ascending = False)
status_debt

                       status_count  status_sum  result_status
family_status
Не женат / не замужем          2796         273         0.0976
в разводе                      1189          84         0.0706
вдовец / вдова                  951          63         0.0662
гражданский брак               4134         385         0.0931
женат / замужем               12261         927         0.0756

По результатам вычислений можно сказать, что зависимость между семейным статусом и возвратом займа в срок есть. Мы видим, что сотрудники, не состоящие в браке, в среднем имеют задолженности чаще, как и те, кто состоит в гражданском браке. При этом реже имеют задолженности сотрудники в статусе "вдова/вдовец" и те, кто состоит в разводе.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [25]:
income_debt = pd.DataFrame()
income_debt['income_count'] = data.groupby('total_income_category')['debt'].count()
income_debt['income_sum'] = data.groupby('total_income_category')['debt'].sum()
income_debt['result_income'] = income_debt['income_sum'] / income_debt['income_count']
pd.options.display.float_format ='{:,.4f}'.format
income_debt.sort_values('result_income', ascending = False)
income_debt

                       income_count  income_sum  result_income
total_income_category
A                                25           2         0.0800
B                              5014         354         0.0706
C                             15921        1353         0.0850
D                               349          21         0.0602
E                                22           2         0.0909

По итогам трудно сказать, есть ли зависимость между уровнем дохода и возвратом кредита в срок. Мы видим, что в категориях дохода A и E всего 25 и 22 сотрудников соответственно: такая выборка не является репрезентативной и говорит только о сотрудниках анализируемой компани.

При этом у сотрудников категории C, которые зарабатывают от 50001 до 200000, задолженности встречаются чаще, чем у более высокооплачиваемых сотрудников категории B. Для этих двух групп показатели выборки можно считать достаточными для анализа.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [26]:
purpose_debt = pd.DataFrame()
purpose_debt['purpose_category_count'] = data.groupby('purpose_category')['debt'].count()
purpose_debt['purpose_category_sum'] = data.groupby('purpose_category')['debt'].sum()
purpose_debt['result_purpose_category'] = purpose_debt['purpose_category_sum'] / purpose_debt['purpose_category_count']
pd.options.display.float_format ='{:,.4f}'.format
purpose_debt.sort_values('result_purpose_category', ascending = False)
purpose_debt

,purpose_category_count,purpose_category_sum,result_purpose_category
purpose_category,,,
операции с автомобилем,4279,400,0.0935
операции с недвижимостью,10751,780,0.0726
получение образования,3988,369,0.0925
проведение свадьбы,2313,183,0.0791

Реже всего задолженности встречаются у сотрудников, которые берут кредит для операций с недвижимостью. Чаще всего задолженности встречаются у сотрудников, которые берут автокредиты.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

**Выясним долю пропущенных значений**

Шаг 1: чтобы узнать долю пропущенных значений от всех значений в столбцах с пропусками, в новых переменных посчитаем долю пропусков от общего числа значений в столбцах с помощью аргументов .isnull() и функции len().

Шаг 2: округлим значения до 3 цифр после запятой для удобства подсчета доли

Шаг 3: введем команду if ... else для красоты вывода результата. Если доли равны в обеих столбцах, она выведет одно общее для них значение с f-строкой. Если они отличаются, команда выведет оба значения.

In [27]:
#Шаг 1:
missed_values_income = data['total_income'].isnull().sum() / len(data) 
missed_values_days = data['days_employed'].isnull().sum() / len(data)

#Шаг 2:
missed_values_income = round(missed_values_income, 4)
missed_values_days = round(missed_values_days, 4)

#Шаг 3:
if missed_values_income == missed_values_days:
    print(f'Доля пропущенных значений в стоблце с доходом равна доле пропущенных значений в столбце с трудовым стажем: {missed_values_days}')
else:
    print(f'Доля пропущенных значений в стоблце с доходом: {missed_values_income}. Доля пропущенных значений в столбце с трудовым стажем: {missed_values_days}')

Доля пропущенных значений в стоблце с доходом равна доле пропущенных значений в столбце с трудовым стажем: 0.0

Мы видим, что общая доля пропущенных значений в двух столбцах с пропусками довольно велика: это 10,1%. При этом пропуски наблюдаются в количественных значениях: доходе и трудовом стаже. Учитывая типы данных в этих столбцах, предполагаю, что они связаны или с отсутствием информации (возможно, нет данных о доходе сотрудников-пенсионеров), или c ошибкой при вводе данных (человеческий фактор).

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

В данном случае пропуски мы нашли в количественных данных: медианные значения помогают нам оценить типичные значения выборки. Если мы отбросим такие строки, то потеряем весомую часть датафрейма, с которым работаем, и важную информацию о представителях выборки. Данные в колонке дохода имеют нормальные значения по распределению: при изучении показателей видно, что нет аномальных показателей. Поэтому допустимо использовать именно медианные значения.

### Общий вывод

В проекте мы предобработали и проанализировали статистику платежеспособности клиентов банка. Сперва мы выявили явные и неявные дубликаты, пропуски, аномалии и привели таблицу к состоянию, пригодному для анализа. Затем мы выяснили, как разные параметры клиентов могут влиять на наличие или отсутствие задолженности.  

По результатам анализа мы видим, что сильнее всего влияют на своевременную выплату кредита семейное положение и цель займа. Кредит вовремя чаще закрывают люди, которые были в браке, особенно вдовы/вдовцы и разведенные люди. По цели кредита чаще всего займы вовремя закрывают те люди, которые берут кредит для операций с недвижимостью или проведения свадьбы.

При этом по результатам анализа мы не можем сказать, что количество детей влияет на количество задолженностей. Слонжо отметить, как сильно доход влияет на своевременную выплату, из-за небольшого количества респондентов в категориях A и E. Но у тех, кто зарабатывает от 50001 до 200000, задолженности встречаются чаще, чем у более высокооплачиваемых сотрудников.